.join-main{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  //background: linear-gradient(0.25turn, #C7A9D3, #f876f5); 
}

.invitation-card{
  width: min(1000px, 90%);
  max-width: 1000px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  background: linear-gradient(0.15turn, #C1BEBE, 30%, #635C5C);
}

.event-card{
  width: min(700px, 90%);
  max-width: 700px;
  border-radius: 10px;
  background: #AA60c8;
  margin: 20px 0px;
}

.event-card img{
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 10px;
}

.event-card h1{
  font-size: 32px;
  padding: 10px 40px;
  margin:  0px 0px 20px; //delete ?
  
}

.event-card p{
  max-height: 100px;
  overflow-y: auto;
  line-height: 1.5;
  text-align: center;
}

.event-title{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  
}

.event-title h1{
  margin-top: 20px;
}


.event-group{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-top: auto;
  align-self: flex-start;
  border-radius: 10px;
  
}

.event-join{
  margin: 20px 20px 10px auto;
}

.event-join button{ 
  padding: 4px 8px;
  font-size: 14px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  background: #07FF2D;
}

.event-join button:hover{
  background: rgba(255, 255, 255, 1);
}
 

p{
  color: white;
}
  